# Dependencies
node_modules/

# Builds
dist/
build/
coverage/

# Logs
logs/
*.log

# Environment Files
.env
.env.local
.env.production
.env.development

# Database Files
*.db
*.sqlite
*.sqlite3
prisma/dev.db

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Cache Files
.cache/